_site
.DS_Store
*.swp
.sass-cache
404.html
feed.xml
^\.
^license
^cname$
^version$
^(patents|authors|contributors|acknowledgments|backers)(\.|$)
^(issue|pull_request)_template\.md$
^(appveyor|circle|codecov)\.yml$
^(yarn|Gemfile)\.lock$
^package-lock\.json$
^npm-shrinkwrap\.json$
\.sublime-project$
^(tsconfig|typings|tslint|tsfmt)\.json$
^coffeelint\.json$
^(karma|protractor|sauce).*\.js$
^testem(\.[\w-]+)?\.(json|js)$
^yuidoc\.json$
^stylelint-config\.json
^humans\.txt
^readme\.md$
*.html

