---
layout: default
title: Home
---

{% if page.url == "/" %}
 <div class="section-title">
        <h2><span>Search Anything</span></h2>
<div class="search-box">
   <script>
     (function() {
	   var cx = "partner-pub-1586569966155744:7225591359";
	   var gcse = document.createElement("script");
	   gcse.type = "text/javascript";
	   gcse.async = true;
	   gcse.src = "https://cse.google.com/cse.js?cx=" + cx;
	   var s = document.getElementsByTagName("script")[0];
	   s.parentNode.insertBefore(gcse, s);
     })();
     window.onload = function()
     { 
	   var searchBox =  document.getElementById("gsc-i-id1");
	   searchBox.placeholder="Search Andrimo";
	   searchBox.title="Search Andrimo"; 
     }
   </script>
   <gcse:search></gcse:search>
</div>
</div>

<!-- Pagination
================================================== -->
<div class="bottompagination">
<div class="pointerup"><i class="fa fa-caret-up"></i></div>
<span class="navigation" role="navigation">
    {% include pagination.html %}
</span>
</div>

